*{
    box-sizing: border-box;
}

.wrapper{
    border: 2px solid red;
    padding: 30px;
    width: 70%;
    margin-left: 250px;
    margin-top: 30px;
}
h2{
    text-align: center;
    margin-top: 30px;
}
#btn{
    margin-left: 450px;
    margin-top: 100px;
    background-color: orchid;
    border-radius: 4px;
    border: none;
    width: 100px;
    height: 50px;
    text-align: center;
}

#timer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    color: rgb(255, 71, 102);
}

#time{
    text-align: center;
    margin-top: 10px;
}

.ques{
    text-align: center;
    margin-top: 20px;
}

.ques1, .ques2, .ques3, .ques4, .ques5{
    font-weight: bold;
    color: purple;
}

.ans1, .ans2, .ans3, .ans4, .ans5{
    margin-top: 20px;
}

#btn1{
    color: blue;
    background-color: aquamarine;
    border: none;
    padding: 10px;
}

form{
    margin-left: 20px;
}

#score{
    text-align: center;
}