    *{
        box-sizing: border-box;
    }

    h3{
        top: 10px;
        float: left;
        margin-left: 25px;
    }

    #time{
        text-align: right;
        margin-right: 50px;
    }

    .wrapper{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 20px;
        right: 300px;
        left: 300px;
        height: 100%;
        background: aqua;
        border: 2px dashed blueviolet;
        border-radius: 5px;
        padding-bottom: 50px;
    }

    #choice0, #choice1, #choice2, #choice3 {
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-size: 16px;
    color: blueviolet;  
    }

@media (min-width: 640px){

    *{
        box-sizing: border-box;
    }

    h3{
        top: 10px;
        float: left;
        margin-left: 25px;
    }

    #time{
        text-align: right;
        margin-right: 50px;

    }

    .wrapper{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 20px;
        margin-right: 5px;
        margin-left: 2px;
        width: 100%;
        height: 100%;
        background: aqua;
        border: 2px dashed blueviolet;
        border-radius: 5px;
        padding-bottom: 50px;
    }

    #choice0, #choice1, #choice2, #choice3 {
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-size: 16px;
    color: blueviolet;
        
    }
}